# vscode
.vscode/

# data files
foia/
*.csv
!sample.csv
*.db
*.sql
*.jsonl
!sample.sql
config.json

node_modules/

webserver/assets/public/css/*

*.log

.env
dump.sql

payload.zip
payload.tar.gz

_site/

env.json

*firebaseadminsdk.json
firebaseadminsdk.json